[alias]
  cb = rev-parse --abbrev-ref HEAD
  pfwl = push --force-with-lease
  rom = rebase -i origin/main
  undo = reset --soft HEAD^
  tagsort = "!git tag | tr '-' '~' | sort -V | tr '~' '-'"
[commit]
  gpgsign = true
[core]
  editor = nvim
  pager = delta
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  features = catppuccin-mocha
[gpg]
  format = ssh
[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = "lazygit"
[mergetool "lazygit"]
  cmd = "lazygit"
[rerere]
  enabled = true
[user]
  email = exiles.prx@gmail.com
  name = Exiles.prx
  signingKey = /home/acampbell/.ssh/id_ed25519.pub
