[user]
	email = exiles.prx@gmail.com
	name = Exiles.prx
	signingKey = /home/acampbell/.ssh/id_ed25519.pub
[core]
	editor = nvim
[init]
	defaultBranch = main
[rerere]
	enabled = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
  cb = rev-parse --abbrev-ref HEAD
  rom = rebase -i origin/main
  undo = reset --soft HEAD^
